body {
    background-image: url("./images/william-daigneault-ju3eqN0gl6Y-unsplash\ \(1\).jpg");
    
}

/* Nav */
.navbar-brand {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: aqua;
}

/* Carousel */
.carousel-caption h5 {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: 500;
    color: aqua;
}

/* Hero */

.hero-header {
    font-family: 'Times New Roman', Times, serif;
}

.hero-section {
    background-color: #D6D6D6;
    border-radius: 60px;
}


.intro-member{
    background-color: silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.hero-picture {
    
}

/* Cards */
.cardholder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card {
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;;
}

.basic-card {
    border: .5rem solid burlywood;
}

.silver-card {
    border: .5rem solid silver;
}

.gold-card {
    border: .5rem solid gold;
}