body {
    background-color: rgb(201, 201, 201);
}

/* Nav */
.navbar-brand {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: aqua;
}

/* Carousel */
.carousel-caption h5 {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: 500;
    color: aqua;
}

/* Hero */

.hero-header {
    font-family: 'Times New Roman', Times, serif;
}

.hero-section {
    background-color: rgb(185, 184, 184);
    border-radius: 50px;
}

.cardholder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card {
display: flex;
flex-direction: column;
flex-wrap: nowrap;

}

.intro-member{
    background-color: silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}